
body {
    background:gray;
}
    

h1 { 
    background: lightblue;
    color: white;
    margin: -10px;
    height: 60px;
    padding-left:180px;
    padding-top:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    size: 18px;
    

}
a {
    color:red;
    float:right;
    padding:20px;
    margin-top:-50px;
    margin-left:20px;
    
}
h2 { 
    color:black;
    padding-left:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div {
    background:wheat;
    margin: 150px;
    margin-top: 40px;
   overflow:auto;
    
}
img {
    margin-left: 0px;
    margin-right: 10px;
    float: left;
    padding-right: 10px;
    
}
p {
    padding:0px;
    margin-left: 20px;
    margin-right:20px;
}
hr { margin-left:20px;
    margin-right:20px;
    color:gray;
    height:0px;
    display:block;
}

